textarea {
    min-height: 400px;
}

.subject {
    font-weight: 700;
    font-size: 20px;
    border: none;
    padding: 0px;
    background-color: white;

}

.mini-email {
    border: 0.5px solid black;
    border-radius: 0.2rem;
    height: 80px;
    width: 350px;
}

.email-button {
    background-color: #007bff;
    border: none;
    color: white;
    margin-right: 8px;
    border-radius: 0.2rem;
    padding: .25rem .5rem;
}

